<div class="container">
    <div class="logo">
        <a href="user-dashboard" class="link"><mat-icon>home</mat-icon></a>
    </div>
    <ul class="list">
        <li class="icons"><a href="" class="link"><mat-icon>public</mat-icon></a></li>
        <li class="icons"><a href="" class="link"><mat-icon>videocam</mat-icon></a></li>
        <li class="icons"><a href="" class="link"><mat-icon>error_outline</mat-icon></a></li>
        <li class="icons"><a href="" class="link"><mat-icon>factory</mat-icon></a></li>
        <li class="icons"><button class="button" (click)="logOut()"><mat-icon>logout</mat-icon></button></li>
    </ul>
</div>