.login-container {
  display: flex;
  height: 100vh;
}

.image-section {
  flex: 1;
  position: relative;
  background: linear-gradient(180deg, #33A3AA, #107076);
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  z-index: 1;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBFCFC;
  border-radius: 4%;
  overflow: hidden;
  z-index: 2;
  margin-left: -1%;

}
h1,
h3,
p,
a,
input,
button {
  font-family: 'Poppins', sans-serif;
}

.h1-information {
  font-weight: 600;
  font-size: 36.48px;
  line-height: 54.71px;
}

.h3-information {
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.input-information {
  width: 85%;
  padding: 10px;
  border: 1px solid rgba(220, 219, 221, 1);
  margin: 3%;
  border-radius: 1px 1px 1px 1px;
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button-information {
  width: 40%;
  padding: 10px;
  right: 0;
  border: none;
  border-radius: 10px;
  background-color: rgba(51, 163, 170, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.a-information {
  margin: 10px 0;
  color: rgba(71, 70, 74, 1);
  text-decoration: none;

}

.p-information {
  margin-top: 20px;
}

.information {
  width: 53%;
}


.email-section {
  position: relative;
}

.text-email{
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  position: absolute;
  top: 5px;
  left: 18px;
  background-color: white;
  color: rgb(165, 167, 167);
  padding: 0 5px;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

}
.h1-img{
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}
.p-img{
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.title-monitoring{
  color: rgba(255, 255, 255, 1);
  font-weight: 700; 
  font-size: 14px; 
  line-height: 21px;
}
.p-monitoring{
  color: rgba(255, 255, 255, 1);
  font-weight: 400; 
  font-size: 12px; 
  line-height: 17px;
}
.title-notifications{
  color: rgba(255, 255, 255, 1);
  font-weight: 700; 
  font-size: 14px; 
  line-height: 21px;
}
.p-notifications{
  color: rgba(255, 255, 255, 1);
  font-weight: 400; 
  font-size: 12px; 
  line-height: 17px;
}
.material-icons{
  color: rgba(255, 184, 75, 1);
  font-size: 17px;
}
@media (max-width: 658px) {
  .image-section, .captcha-information, .a-information, .text-email{
    display: none;
  }
  .button-information {
    width: 100%;
  }
}